<div class="ionic-datepicker" ng-init="inited()">
    <div class="row">
        <div class="col" style="text-align: center;">
            <div>{{ monthText }}</div>
            <button class="button button-small button-clear button-dark" ng-click="increaseMonth()">
                <span class="ion-chevron-up"></span>
            </button>
            <div class="col" style="text-align: center;">
                <input ng-blur="monthBlur($event)" ng-model="inputs.month" type="text" style="border: 1px solid #ddd; margin: auto; text-align: center;" maxlength="2" tabindex="1">
            </div>
            <button class="button button-small button-clear button-dark" ng-click="decreaseMonth()">
                <span class="ion-chevron-down"></span>
            </button>
        </div>
        <div class="col" style="text-align: center;">
            <div>{{ dateText }}</div>
            <button class="button button-small button-clear button-dark" ng-click="increaseDays()">
                <span class="ion-chevron-up"></span>
            </button>
            <div class="col" style="text-align: center;">
                <input ng-blur="dayBlur($event)" ng-model="inputs.day" type="text" style="border: 1px solid #ddd; margin: auto; text-align: center;" maxlength="2" tabindex="2">
            </div>
            <button class="button button-small button-clear button-dark" ng-click="decreaseDays()">
                <span class="ion-chevron-down"></span>
            </button>
        </div>
        <div class="col" style="text-align: center;">
            <div>{{ yearText }}</div>
            <button class="button button-small button-clear button-dark" ng-click="increaseYear()">
                <span class="ion-chevron-up"></span>
            </button>
            <div class="col" style="text-align: center;">
                <input ng-blur="yearBlur($event)" ng-model="inputs.year" type="text" style="border: 1px solid #ddd; margin: auto; text-align: center;" maxlength="4" tabindex="3">
            </div>
            <button class="button button-small button-clear button-dark" ng-click="decreaseYear()">
                <span class="ion-chevron-down"></span>
            </button>
        </div>
    </div>
</div>